{% extends "baseHTML.html" %}

{% block title %}Admin User{% endblock %}
{% block content %} 
<div class="row d-flex justify-content-center text-center">
  <div>
    <h1 class="pt-4">Admin Features Page </h1>
    <h2>Welcome {{user}} !</h2> <br>
    <p style="color:green;"> {{message}} </p>        		
  </div>
  For example admin features are (functionality to be added):<br/> 


  <div class="col-8 mt-4" >
    <p>For example standard user features are (functionality to be added):</p>
    <div class="col-8 mx-auto" role="group"> 
      <a href="{{ url_for('changePassword') }}" class="btn btn-danger login-heading mb-1 mt-1 text-center fw-semibold w-75">Update Password</a>  <br>
      <button type="button" class="btn btn-primary login-heading mb-1 mt-1 text-center fw-semibold w-75">Add record</button>
      <button type="button" class="btn btn-primary login-heading mb-1 mt-1 text-center fw-semibold w-75">Update record</button>
      <button type="button" class="btn btn-primary login-heading mb-1 mt-1 text-center fw-semibold w-75">Delete record</button>
      <button type="button" class="btn btn-primary login-heading mb-1 mt-1 text-center fw-semibold w-75" onclick="location.href='/generateadminreport';">Generate reports</button> <br/>
    </div>
  </div>


  <a href='/logout' > Logout </a> <br/>
  <a href="/index/admin">Return to main page</a>    
</div>	
  
{% endblock %}