{% extends "baseHTML.html" %}

{% block title %}Admin User{% endblock %}
{% block content %} 
<div class="row d-flex justify-content-center text-center">
  <div>
    <h1 class="pt-4">Admin Features Page </h1>
    <h2>Welcome {{user}}!</h2> <br>
    {% if message != '' %}
      <p style="color:green;"> {{message}} </p>        	
    {% else %}  	
    {% endif %}
  </div>


  <div class="col-8 mt-4" >
    <div class="col-8 mx-auto" role="group"> 
      <h3 class="pb-3">Editing</h3>
      <a href="{{ url_for('changePassword') }}" class="btn btn-danger login-heading mb-1 mt-1 text-center fw-semibold w-75">Update Password</a>  <br>
      <button type="button" class="btn btn-success login-heading mb-1 mt-1 text-center fw-semibold  w-75" onclick="location.href='/bookingview';">Bookings Editor</button> <br> 
      <button type="button" class="btn btn-success login-heading mb-1 mt-1 text-center fw-semibold  w-75" onclick="location.href='/userview';">User Editor</button> <br> 
      <h3 class="p-3">Reports</h3>
      <button type="button" class="btn btn-primary login-heading mb-1 mt-1 text-center fw-semibold w-75" onclick="location.href='/admin/top_customers_report';"> Top Customers</button> <br/>
      <button type="button" class="btn btn-primary login-heading mb-1 mt-1 text-center fw-semibold w-75" onclick="location.href='/admin/monthly_sales_report';"> Monthly Sales</button> <br/>
      <button type="button" class="btn btn-primary login-heading mb-1 mt-1 text-center fw-semibold w-75" onclick="location.href='/admin/journey_popularity_report';"> Journey Popularity</button> <br/>
    </div>
  </div>


  <a href='/logout' > Logout </a> <br/>
  <a href="/index">Return to main page</a>    
</div>	
  
{% endblock %}