
{% extends "baseHTML.html" %}

{% block title %}Book - Start{% endblock %}


{% block content %}



<div class="container-lg pt-3">
  <div class="row d-flex justify-content-center text-center">
      <div class="col-lg-12">
          

        <h1> Here Are Your Options</h1> 
        <h2> Booking Details </h2>


          <form action="/booking_confirm/" method="POST">   
              Departure City : {{lookupdata[0]}} <br/>
              <input type="hidden" name="deptcity" id="deptcity" value="{{lookupdata[0]}}"/>
              Arrival City : {{lookupdata[1]}} <br/>
              <input type="hidden" name="arrivcity" id="arrivcity" value="{{lookupdata[1]}}"/>
              Outward Date : {{lookupdata[2]}} <br/>
              <input type="hidden" name="outdate" id="outdate" value="{{lookupdata[2]}}"/>


            {% if isOneWay %}
            {% else %}
              Return Date : {{lookupdata[3]}} <br/>
              <input type="hidden" name="returnDate" id="returnDate" value="{{lookupdata[3]}}"/>
            {% endif %}


              Adult Seats : {{lookupdata[4]}} <br/>
              <input type="hidden" name="adultseats" id="adultseats" value="{{lookupdata[4]}}"/>
              Child Seats : {{lookupdata[5]}} <br/>
              <input type="hidden" name="childseats" id="childseats" value="{{lookupdata[5]}}"/>
          
            <h2> OneWay Flight </h2>
            <table border = 1 class="table table-striped m-3"> 
                <tr>
                    <th> Departure Time </th> <th> Arrival Time </th>  
                    <th> Standard fare </th> <th> Total fare </th> 
                    <th> Select option </th>
                </tr>
                
              {% for row in resultset %}
              <tr> 
                    <td> {{row[2]}} </td> 
                    <td> {{row[4]}} </td> 
                    <td> {{row[5]}} </td>              
                    <td> {{row[6]}} </td>
                    <input type="hidden" name="outbound_totalfare" id="outbound_totalfare" value="{{row[6]}}"/>
                    <td> <input type="radio" name="outbound_bookingchoice" id="outbound_bookingchoice" value="{{row[0]}}" checked></td> 
                </tr> 
                
            {% endfor %} 
            </table>  
            <br/>


            {% if isOneWay %}
              
            {% else %}
              <h2> Return Flight </h2>
                <table border = 1 class="table table-striped m-3"> 
                  <tr>
                      <th> Departure Time </th> <th> Arrival Time </th>  
                      <th> Standard fare </th> <th> Total fare </th> 
                      <th> Select option </th>
                  </tr>
                  
                {% for row in resultsetRT %}
                <tr> 
                      <td> {{row[2]}} </td> 
                      <td> {{row[4]}} </td> 
                      <td> {{row[5]}} </td>              
                      <td> {{row[6]}} </td>
                      <input type="hidden" name="return_totalfare" id="return_totalfare" value="{{row[6]}}"/>
                      <td> <input type="radio" name="return_bookingchoice" id="return_bookingchoice" value="{{row[0]}}" checked></td> 
                  </tr> 
                  
                {% endfor %} 
              </table>  
              <br/>
            {% endif %}

          <H2> Payment </H2>
          <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                  <label for="cardname">Full name on card:</label>
                  <input type="text" class="form-control" id="cardname" name="cardname">
                </div>
                <div class="form-group">
                  <label for="cardnumber">Card number:</label>
                  <input type="number" class="form-control" id="cardnumber" name="cardnumber" max="9999999999999999" size="16">
                </div>
                <div class="form-group">
                  <label for="cardexpiry">Card expiry:</label>
                  <input type="text" class="form-control" id="cardexpiry" name="cardexpiry" max="9999" size="4">
                </div>
                <div class="form-group">
                  <label for="cvv">CVV:</label>
                  <input type="number" class="form-control" id="cvv" name="cvv" max="999" size="3">
                </div>
                <button type="submit" class="btn btn-primary mt-4">Confirm Booking and Payment</button>
            </div>
          </div>
          
            
          </form> 
          <a href="/">Go to Home Page</a>
        </p>

      </div>
  </div>
</div>


{% endblock %}


