  {% extends "baseHTML.html" %}

  {% block title %}Booking View{% endblock %}
  {% block head %}
      {{super()}}
      <script>
        function validateBookingSelection() {
            var booking_id = document.querySelector('input[name="booking_id"]:checked');
            if (!booking_id) {
                alert("Please select a booking to cancel.");
                return false;
            }
            return true;
        }
    
        document.querySelector("#cancel-booking-form").addEventListener("submit", function(event) {
            if (!validateBookingSelection()) {
                event.preventDefault();
            }
        });
    </script>
    
  {% endblock %}

  {% block content %}
  <div class="container ps-md-0">
      <div class="row d-flex justify-content-center text-center">
        <div>		

          {% if message %}
              {% if alert_type == "success" %}
                  <div class="alert alert-success alert-dismissible fade show mt-4 pt-4" role="alert">
                      {{ message }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
              {% else %}
                  <div class="alert alert-danger alert-dismissible fade show mt-4 pt-4" role="alert"> 
                      {{ message }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
              {% endif %}
          {% endif %}


          {% if session['usertype'] == 'admin' %}
          <h1 class="pt-4">Admin Booking Editor</h1>
          {% elif session['usertype'] == 'standard' %}
          <h1 class="pt-4">Here Are Your Current Bookings {{session['username']}}</h1> 
          {% else %}
          
          {% endif %}

          
        </div>
        <div>

          <form action="/delete-booking"  id="cancel-booking-form" method="POST">
            <div class="overflow-auto">
              <table class="table-responsive table-striped table-sm mx-auto" id="scrollTable">
                <thead>
                  <tr>
                    <th></th>
                    <!-- <th>Selected</th> -->
                    <th>Start Date</th>
                    <!-- <th>End Date</th> -->
                    <th>Start Location</th>
                    <th>End Location</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Passenger No.</th>
                    <th>Book Date</th>
                    <th>Class</th>
                    <th>Booking Cost</th>
                  </tr>
                </thead>
                <tbody>
                  {% for booking in bookings %}
                  <tr>
                    <td><input type="radio" name="booking_id" value="{{ booking[0] }}"></td>
                    <!-- <td >{{ booking[0] }}</td> -->
                    <td>{{ booking[3] }}</td>
                    <!-- <td>{{ booking[4] }}</td> -->
                    <td>{{ booking[5] }}</td>
                    <td>{{ booking[6] }}</td>
                    <td>{{ booking[7] }}</td>
                    <td>{{ booking[8] }}</td>
                    <td>{{ booking[9] }}</td>
                    <td>{{ booking[10] }}</td>
                    <td>{{ booking[12] }}</td>
                    <td>£{{ booking[13] }}</td>
                    <input type="hidden" name="date" value="{{ booking[3] }}">
                    <input type="hidden" name="fare" value="{{ booking[13] }}">
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <br>
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <button type="submit" class="btn btn-danger" name="delete" onclick="return confirm('Are you sure you want to Cancel this booking? There may be a charge.')">Cancel Booking</button>
            <!-- <input type="submit" value="Delete Booking"> -->
            <a class="btn btn-primary ms-2" href="/edit-booking" role="button">Edit Booking</a>
          </form>
          
        </div>

      </div>
    </div>

  {% endblock %}

  {% block footer %}
      {{ super() }}
  {% endblock %}
