{% extends "baseHTML.html" %}

{% block title %}Register{% endblock %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for ('static', filename ='styles/login.css')}}">

    <script defer src="{{ url_for('static', filename='scripts/newPassScript.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <!-- using unsplash license (free to use, no attribution) -->
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image" style="background-image: url('https://images.unsplash.com/photo-1429198739803-7db875882052?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80');"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4 fw-semibold">Change Password</h3>

              <p style="color:brown;" id="error">{{error}}</p>
              <!-- Sign In Form -->
              <form action="/changePassword" method="post">
                <hr>
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" value="{{request.form.email}}">
                  <label for="floatingInput">Email address</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="floatingInput" placeholder="Password" name="old_password" value="{{request.form.old_password}}">
                  <label for="floatingInput">Old Password</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="floatingInput" placeholder="New Password" name="new_password" value="{{request.form.new_password}}">
                  <label for="floatingInput">New Password</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="floatingInput" placeholder="New Password" name="confirm_new_password" value="{{request.form.confirm_new_password}}">
                  <label for="floatingInput">Confirm New Password</label>
                </div>

                <div class="d-grid">
                  <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit" value="change">Change Now</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block footer %}       
    {{super()}}
{% endblock %}